@import url(carritoCompras.css); /* CSS PARA EL CARRITO DE COMPRAS*/ 
 main {
           padding-top: 13vh; /*  siempre casi el mismo alto de lo que se le haya puesto al header */
                              /* debido a que el header es fijo y los elementos que estan en la parte de arriba del main */
                              /* no queden ocultos*/
       
      /* background:moccasin;   */                    
       }
       
          .otro {
            height: 30px;
           
            font-size: 18px;
        }
        
        .container {
            
           
           /* background:yellow; */
        }     
            
          .aside {
            background:#e5e7e9;
            height: 9vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        
          
        
        .aside .selector {
            
            border-radius:2em;
            width: 320px;
            height: 70%;
            background: #FFFFFF;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            outline: 0; 
  	    border: 0;
             font-family: 
	'Quicksand', sans-serif;
           font-size: 1em;
            color:#787675; 
           
           
        }
        
        .aside .selector span {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }
        
        
        .aside .selector form select {
            width: 80%;
            background: #FFFFFF;
             outline: 0; 
  	     border: 0;
             margin-left: 15px;
             font-family: 
	'Quicksand', sans-serif;
           font-size: 1em;
            color:#787675;  
           
             
             

            
        }
        
        .aside .selector form {
           /* background: blue;*/
            min-width: 150px;
            display: flex;
            justify-content: space-between;
        }
        
        .aside .selector form button {
            width: 60px;
            background:#0074d9;
            border-bottom-right-radius:2em;
            border-top-right-radius:2em;
            margin-left: 18px;
            outline: 0; 
  	    border: 0;
        }
            
           
     
       
        
        #categoriaNombre {
           margin-top: 4px;
           margin-bottom: 3px;
           
           padding-bottom: 3px;
           padding-top: 3px;
         /* background:#e5e7e9;*/
           height: 8vh;
           min-height: 60px;
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 1.3em;
           color:#787675;
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            border-color:#b3b3b3;               
        }
        
        #categoriaNombre #imagenCategoria {
            width: 50px;
            margin-right: 1.5em;;
         
        }
        #categoriaNombre #imagenCategoria img {
            width: 100%;
        }
        
        #contenedorCarrito {
            padding-top: 25px;
           display: flex;
           justify-content: flex-end;
           
        }
        article {
          /*  background:#e5e7e9;*/
            margin-top: 3px;
            min-height: 55vh;
            display: flex;
            justify-content: space-around;
            align-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            
            
           }
          
 article .articulo {
 /*background:#28d; */ 
width: 170px;
 
 margin-top: 30px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-right: 7px; 
 border: 1px solid  #EAEDED ;
 
}  
 
article .articulo .foto {
 
 /*background:aqua;*/
 margin: 2px 2px 20px 2px; /*arriba, derecha, abajo, izquierda*/

 /*border: 2px solid  #adb9c3*/ ;
}

article .articulo .foto span {
    margin-left: 5px;
}

article .articulo .foto img{
width: 100%;
height: auto;
margin-left: 5px;
margin-right: 5px;
margin-top: 10px;
}

article .articulo .tabla .foto a:hover {
    opacity: 0.5;
}

.main .mensajeVacia {
    display: flex;
    justify-content: center;
}

article .articulo .informacion {
 /*background:#b3b3b3;*/  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

article .articulo .informacion a {
   
 text-decoration: none;
 color:#007bff; 
 }


article .articulo .informacion #detalles{
    display: flex;
    justify-content: center;
    text-align: center;
}

article .articulo .informacion :hover{
 color:#7EA6C0;
 }

article .articulo .informacion #detalles #vinculo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

article .articulo .descripcion{
   
}
article .articulo .separador{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  color:#888;
}




article .articulo #precio {
    font-size: 20px;
    margin-bottom: 5px;
}
article .articulo #compras {
    display: flex;
    background:#F1F1F1;
    margin-top: auto;
    width: 100%;
    height: 40px;
   justify-content: center;
   align-items: center;
    
}

article .articulo #compras #botonCarrito {
 display: flex;  
justify-content:space-around;
align-content: center;
align-items: center;
 background:#F1F1F1;
 
 height: 100%;
 border: 0;
 color:#669;
}

article .articulo #compras #botonCarrito:hover {
    background:#F5B041;
    color: #FFF;
    
}

         
       
       
        
        
        
 /****************************************************************************/       
        
        
        
        
        @media screen and (max-width: 750px) {
	    main {
           
       
       }
	}