.container{
       
      
font-family: "Segoe UI", Tahoma, Arial, sans-serif;
min-height: 90vh;

    }
    
.main {
/*background: yellow;*/
min-height:inherit;
display: flex;
margin-top: 0px;
       
       }    
        
    




.baner{
    
background: menu;
min-width: 207px;
height: auto;
border-style: solid;
border-width: 0px 3px 0px 0px;
border-color:#FFF; 
   
        
       }       





#apartado{
    
 margin-top: 5px;
 margin-bottom: 5px;
 display: flex; 
 flex-wrap: nowrap;
 background:#fff;
 font-size: 22px;
 color:#777777;
}
#apartado p{
 padding-left: 8px;
 
}

#apartado a{
 text-decoration: none;
 color:#777777; 
 
}

#apartado a:hover{
 color:#28d;
 
}

.franjaMenu{
background:menu;
display: flex;
width: 100%;
border-style: solid;
border-width: 0px 0px 3px 0px;
border-color:#FFF;
       
       
    } 
    
#menuSecundario {
   /* background: yellow;*/
height: 41px;
display: flex;
justify-content:space-around;
flex-wrap: nowrap;
background: menu;
z-index:3;
/*max-width: 1000px;*/
width:100%;
font-size: 16px;
/*margin:10px auto;*/
       
}

#menuSecundario nav ul li {
    
        /*background:#2598c3;*/
display:inline-block;
position: relative;

       
}

#menuSecundario nav ul li:hover {
background: ThreeDHighlight;
       


        
}

#menuSecundario nav  ul li a {
color:#011826; /*color letras el menu arriba */
display:flex;
justify-content: center;
align-items:center;
text-decoration:none;
padding: 10px 10px 10px 10px;
}


 
#menuSecundario nav ul li a .link {
margin-right:10px;
margin-left:10px;
display: flex;
align-items: center;
flex-wrap: nowrap;

}

#menuSecundario nav ul li a span img {
margin-right: 7px;
}
 



.areaTrabajo{
      
/*background:#28d;*/
width: 100%;
      
       }       
  
@media screen and (max-width: 750px) { /*igual que el menu header siempre */



           
 .baner {
       display: none;
   }      
   #apartado {
     
  
   font-size: 20px;
} 
   
         
           
}